* {
    /* se eliminan todos los margin por defecto */
    margin: 0;
    /* se eliminan todos los padding por defecto */
    padding: 0; 
    /* se elimina el estilo de las listas */
    list-style-type: none;
    /* el padding y border se consideran para calcular
     el tamaño de la caja */
    box-sizing: border-box;
    /* se elimina el subrayado de los links <a> */
    text-decoration: none
  }

  nav {
    background-color:rgba(0, 0, 0, 0.678);
    height: 80px;
    width: 400px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  
  
  ul {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    
  }


  
  